.projectlist {
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    flex-wrap: wrap;
    li {
      padding: 20px 0px;
      margin: 0px auto;
      font-style: normal;
      width: 100%;
      max-width: 500px;
      a {
        display: inline-flex;
        justify-content: space-between;
        .cover {
          img {
            width: 100px;
            border-radius: 5px;
          }
        }
        .brief {
          padding: 0px 10px;
          display: flex;
          flex-direction: column;
          -webkit-box-pack: justify;
          justify-content: space-between;

          .content {
            flex: 0 0 auto;
            h3 {
              font-size: 1.2rem;
              color: rgb(51, 51, 51);
              margin-bottom: 5px;
              display: inline-block;
            }
            p {
              margin: 0px 0px 10px;
              padding: 0px;
              color: rgba(0, 0, 0, 0.7);
              line-height: 1.5;
              white-space: pre-wrap;
            }
          }

          .tag {
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            margin-bottom: 0;
            span {
              color: rgba(0, 0, 0, 0.55);
              font-size: 0.9rem;
            }
            span:not(:last-child)::after {
              content: "•";
              padding: 0px 0.5em;
            }
          }
        }
      }
    }
    @media (min-width: 1200px) {
      li {
        width: 45%;
        padding-right: 20px;
        margin: 0px;
      }
    }
  }
}
