.wrap {
  width: 70%;
  margin: 0px auto;
  .brief {
    text-align: center;
    h1 {
      padding: 12px 0px;
      font-size: 40px;
      font-weight: 750;
    }
    p {
      line-height: 1.5;
    }

    img {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      margin-top: 20px;
    }
  }
  ul {
    display: flex;
    justify-content: center;
    li {
      padding: 6px 10px;
      margin: 12px 3px;
      color: rgb(102, 102, 102);
      font-style: italic;
    }
  }
}

.work {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 25px;
  .separator {
    margin-left: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
    border-left: 1px solid rgb(242, 242, 242);
    height: calc(40px);
  }
  .title {
    h3 {
      font-size: 25px;
      padding-bottom: 12px;
      color: rgba(0, 0, 0, 0.8);
      font-weight: 400;
    }
  }
}
