.wrap {
  flex: 1;
  text-align: initial;

  .box {
    padding-top: 1rem;
    max-width: 36rem;
    margin: 2rem auto 6rem;
    h1 {
      font-size: 24px;
    }
    h1 + p {
      color: #999;
      font-size: 13px;
    }
    p {
      padding-top: 10px;
      line-height: 1.5;
    }
    iframe {
      margin-top: 10px;
    }
  }
}
