.wrap {
  flex: 1;
  text-align: initial;
  .box {
    width: 60%;
    margin: 0px auto;
    padding-top: 45px;
    h1 {
      font-size: 24px;
    }
    h1 + p {
      color: #999;
      padding-top: 8px;
      font-size: 13px;
    }
    p {
      padding-top: 10px;
      line-height: 1.5;
    }
  }
}
